* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-style: normal;
              font-weight: 400;
	vertical-align: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1280px;
    list-style-type: none;
}

html {
    margin: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(texture.png);
    background-repeat: repeat;
}

header, footer {
    width: 100%;
    background-color: #05a5e6;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    gap: 150px;
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.24);
            box-shadow: 0px 3px 3px rgba(0,0,0,0.24);
}

header {
    border-radius: 3px 3px 10px 10px;
}

footer {
    border-radius: 10px 10px 3px 3px;
    padding: 15px;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2px;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

#pic {
    display: flex;
    gap: 40px;
    margin: 40px;
}

.paras, #formsection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 0px 20px 30px 20px;
}

#width {
    max-width: 800px;
}

.paras p {
    margin: 0px 20px;
    font-size: 24px;
}

#para2 {
    text-align: center;
    margin: 20px 150px 50px 150px;
}

#para2 p {
    margin: 0px 12px;
    font-size: 24px;
}

.contact-form {
    gap: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

input {
    border: 2px solid black;
    font-weight: normal;
    min-width: 480px;
    border-radius: 15px;
    min-height: 32px;
    padding: 6px;
    background-color: #f5f5f5;
}

#submit {
    background-color: #cd3743;
    padding: 8px 12px;
    min-width: 120px;
    color: white;
    border: 2px solid black;
    margin-top: 12px;
}

#submit:hover {
    cursor: pointer;
}

.paras, #para2, #formsection p {
    font-size: 24px;
}

h1 {
    font-size: 36px;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-style: italic;
              font-weight: 500;
    line-height: 48px;
}

#pics {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 10px 40px 40px 40px;
}

.headshot {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

caption {
    font-style: italic;
}

.italic {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
}

#formsection .privacy-para {
    margin-bottom: 35px;
}

section img {
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.24);
            box-shadow: 0px 3px 3px rgba(0,0,0,0.24);
}

a {
    text-decoration: none;
    color: #05a5e6;
}

#formsection p {
    margin: 0px 80px;
}

.lh {
    line-height: 42px;
}

#privacy {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#privacy * {
    margin: 8px;
    max-width: 720px;
}

h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

#terms * {
    text-align: center;
    margin: 12px;
    max-width: 720px;
}

.bold {
    font-weight: bold;
}

#privacy h2, #privacy h4 {
    margin: 24px;
}

#headshot {
    margin-bottom: 4px;
}

a[href^="tel"] {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1020px) {

    body, main, #pic, #pics, #formsection, .contact-form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: auto;
        max-width: 100%;
    }

    header, footer {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
    }

    .hidden {
        display: none;
    }

    #pic {
        margin-top: 12px;
        padding: 12px;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        gap: 10px;
    }

    .headshot {
        max-width: 180px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    caption {
        text-align: center;
    }

    .paras p {
        font-size: 20px;
        line-height: 30px;
    }

    .paras {
        gap: 18px;
    }

    h1 {
        font-size: 28px;
        line-height: 34px;
    }

    h2 {
        font-size: 28px;
    }

    .h2section {
        margin-top: 16px;
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding: 8px;
    }

    .h2section p {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin: 8px;
    }

    .paras, #para2, form, #formsection h1, #formsection p {
        padding: 0px;
        margin: 0px;
    }

    #pics {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form *, input {
        min-width: 300px;
        width: 300px;
        max-width: 320px;
    }

    a[href^="tel"] {
        color: black !important;
        font-weight: bold;
        text-decoration: none;
    }

    #para2 {
        margin-top: 24px;
    }

  }