* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1280px;
}

html {
    margin: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    width: 100%;
    background-color: #18a5d6;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 150px;
}